# Django settings
DJANGO_SECRET_KEY=replace_me_with_a_secure_key
DJANGO_DEBUG=True

# Database (Postgres)
POSTGRES_DB=ai_collections_db
POSTGRES_USER=ai_collections_user
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432


# Django specific
ALLOWED_HOSTS=localhost,127.0.0.1